<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${election.name}"></title>
</head>
<body>
    <form th:action="@{/election/} + ${election.id} + @{/vote}" th:object="${electionVote}" method="post">
        <th:block th:each="poll, stat : ${election.polls}">
            <div th:if="${poll.isPreferenceVoting()}">
                <div th:insert="votingmachine/poll_vote_with_preference :: pollVote"/>
            </div>
            <div th:unless="${poll.isPreferenceVoting()}">
                <div th:insert="votingmachine/poll_vote :: pollVote"/>
            </div>
        </th:block>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>