<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show all elections</title>
</head>
<body>
<div th:each="message : ${messages}">
    <p th:text="${message}"></p>
</div>

<table>
    <caption><h3>Elections:</h3></caption>
    <thead>
    <tr>
        <td>Id</td>
        <td>Election Name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${elections}">
        <td th:text="${e.id}" />
        <td th:text="${e.name}" />
        <td><a th:href="@{/election/} + ${e.id} + '/vote'">Vote</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>