<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Create district</title>
</head>
<body>
<div th:if="${param.success}">
    <div class="alert alert-info">
        You've successfully created a district!
    </div>
</div>

<h1>Create district</h1>
<form th:action="@{/panel/district/create}" th:object="${district}" method="post">

    <!-- Doesn't show percise errors -->
    <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
    </ul>

    <div>
        <label for="name">Name</label>
        <input id="name"
               type="text"
               th:field="*{name}"/>
    </div>
    <div>
        <label for="country">Select country</label>
        <select id="country" th:field="*{country}">
            <option th:each="c : ${countries}"
                    th:value="${{c.id}}"
                    th:text="${c.name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>