<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ballotbox Administration Panel</title>
</head>
<body>
    <a th:href="@{/panel/poll/create}" sec:authorize="hasRole('ROLE_ADMIN')">Add poll</a>
    <a th:href="@{/panel/country/create}" sec:authorize="hasRole('ROLE_ADMIN')">Add country</a>
    <a th:href="@{/panel/district/create}" sec:authorize="hasRole('ROLE_ADMIN')">Add district</a>
    <a th:href="@{/panel/ward/create}" sec:authorize="hasRole('ROLE_ADMIN')">Add ward</a>
    <a th:href="@{/panel/candidate/register}" sec:authorize="hasRole('ROLE_ADMIN')">Register candidate</a>
    <a th:href="@{/panel/election/create}" sec:authorize="hasRole('ROLE_ADMIN')">Create election</a>
    <a th:href="@{/panel/poll/all}" sec:authorize="hasRole('ROLE_ADMIN')">Polls</a>
    <a th:href="@{/panel/ward/admin/add}" sec:authorize="hasRole('ROLE_ADMIN')">Grant ward administrator privileges</a>
    <!-- show all current/future (exclude past) -->
    <!-- show finished -->
</body>
</html>