<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Create poll</title>
</head>
<body>
<div th:if="${param.success}">
    <div class="alert alert-info">
        You've successfully created a poll!
    </div>
</div>

<h1>Create poll</h1>
<form th:action="@{/panel/poll/create}" th:object="${poll}" method="post">

    <!-- Doesn't show percise errors -->
    <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
    </ul>
    <div>
        <label for="name">Name</label>
        <input id="name"
               type="text"
               th:field="*{name}"/>
    </div>
    <div>
        <label for="description">Description</label>
        <input id="description"
               type="text"
               th:field="*{description}"/>
    </div>
    <div>
        <label for="openFrom">Open from</label>
        <input id="openFrom"
               type="datetime-local"
               th:field="*{openFrom}"/>
    </div>
    <div>
        <label for="openUntil">Open until</label>
        <input id="openUntil"
               type="datetime-local"
               th:field="*{openUntil}"/>
    </div>

    <div>
        <label for="scope">Select poll scope</label>
        <select id="scope" th:field="*{pollScope}">
            <option th:each="s : ${T(com.drzewo97.ballotbox.core.model.poll.PollScope).values()}"
                    th:value="${{s}}"
                    th:text="${s}"></option>
        </select>
    </div>

    <ul>
        <label for="countries">Select country</label>
        <li id="countries" th:each="c : ${countries}">
            <input id="country" type="radio" th:field="*{country}" th:value="${c.id}" />
            <label th:for="country" th:text="${c.name}"></label>
        </li>
        <li>
            <input type="radio"/>
            <label >None</label>
        </li>
    </ul>
    <ul>
        <label for="districts">Select district</label>
        <li id="districts" th:each="d : ${districts}">
            <input id="district" type="radio" th:field="*{district}" th:value="${d.id}" />
            <label th:for="district" th:text="${d.name} + ': ' + ${d.country.name}"></label>
        </li>
        <li>
            <input type="radio"/>
            <label >None</label>
        </li>
    </ul>
    <ul>
        <label for="wards">Select ward</label>
        <li id="wards" th:each="w : ${wards}">
            <input id="ward" type="radio" th:field="*{ward}" th:value="${w.id}" />
            <label th:for="ward" th:text="${w.name} + ': ' + ${w.district.name} + ': ' + ${w.district.country.name}"></label>
        </li>
        <li>
            <input type="radio"/>
            <label >None</label>
        </li>
    </ul>
    <div>
        <label for="pollType">Select voting method</label>
        <select id="pollType" th:field="*{pollType}">
            <option th:each="v : ${T(com.drzewo97.ballotbox.core.model.poll.PollType).values()}"
                    th:value="${v}"
                    th:text="${v}"></option>
        </select>
    </div>
    <!--TODO: only for some poll types-->
    <div>
        <label for="candidatesCount">Candidates count</label>
        <input id="candidatesCount"
               type="number"
               th:field="*{candidatesCount}"/>
    </div>
    <!--TODO: only for some poll types-->
    <div>
        <label for="exactly">Exact number of candidates necessary</label>
        <input id="exactly"
               type="checkbox"
               th:field="*{exactly}"/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>