<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show all polls</title>
</head>
<body>
<table>
    <caption><h3>Elections:</h3></caption>
    <thead>
    <tr>
        <td>Id</td>
        <td>Poll Name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${polls}">
        <td th:text="${p.id}" />
        <td th:text="${p.name}" />
        <td><a th:href="@{/panel/poll/} + ${p.id}">Summary</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>