<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Create poll</title>
</head>
<body>
<div th:if="${param.success}">
    <div class="alert alert-info">
        You've successfully created a poll!
    </div>
</div>

<h1>Create poll</h1>
<form th:action="@{/panel/poll/create}" th:object="${poll}" method="post">

    <!-- Doesn't show percise errors -->
    <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
    </ul>
    <div>
        <label for="name">Name</label>
        <input id="name"
               type="text"
               th:field="*{name}"/>
    </div>
    <div>
        <label for="description">Description</label>
        <input id="description"
               type="text"
               th:field="*{description}"/>
    </div>
    <div>
        <label for="candidatesCount">Candidates count</label>
        <input id="candidatesCount"
               type="number"
               th:field="*{candidatesCount}"/>
    </div>
    <div>
        <label for="exactly">Exact number of candidates necessary</label>
        <input id="exactly"
               type="checkbox"
               th:field="*{exactly}"/>
    </div>
    <div>
        <label for="openFrom">Open from</label>
        <input id="openFrom"
               type="datetime-local"
               th:field="*{openFrom}"/>
    </div>
    <div>
        <label for="openUntil">Open until</label>
        <input id="openUntil"
               type="datetime-local"
               th:field="*{openUntil}"/>
    </div>
    <div>
        <label for="countries">Select countries</label>
        <select id="countries" th:field="*{countries}" multiple="multiple">
            <option th:each="c : ${countries}"
                    th:value="${{c.id}}"
                    th:text="${c.name}"></option>
        </select>
    </div>
    <div>
        <label for="districts">Select districts</label>
        <select id="districts" th:field="*{districts}" multiple="multiple">
            <option th:each="d : ${districts}"
                    th:value="${{d.id}}"
                    th:text="${d.name} + ': ' + ${d.country.name}"></option>
        </select>
    </div>
    <div>
        <label for="wards">Select wards</label>
        <select id="wards" th:field="*{wards}" multiple="multiple">
            <option th:each="w : ${wards}"
                    th:value="${{w.id}}"
                    th:text="${w.name} + ': ' + ${w.district.name} + ': ' + ${w.district.country.name}"></option>
        </select>
    </div>
    <div>
        <label for="pollType">Select voting method</label>
        <select id="pollType" th:field="*{pollType}">
            <option th:each="v : ${T(com.drzewo97.ballotbox.core.model.poll.PollType).values()}"
                    th:value="${v}"
                    th:text="${v}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>