<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show all polls</title>
</head>
<body>
<div th:each="message : ${messages}">
    <p th:text="${message}"></p>
</div>
<table>
    <caption><h3>Polls:</h3></caption>
    <thead>
    <tr>
        <td>Id</td>
        <td>Poll Name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${polls}">
        <td th:text="${p.id}" />
        <td th:text="${p.name}" />
        <td>
            <a th:href="@{/panel/poll/} + ${p.id}">Summary</a>
            <a th:href="@{/panel/poll/} + ${p.id} + '/result'">Results</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>