<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ballotbox Committee Administration Panel</title>
</head>
<body>
<table>
    <caption><h3>Committees:</h3></caption>
    <thead>
    <tr>
        <td>Id</td>
        <td>Committee name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="w : ${adminsCommittees}">
        <td th:text="${w.id}" />
        <td th:text="${w.name}" />
        <td>
            <a th:href="@{/committeepanel/} + ${w.id}">Manage</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>