<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage user</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td>
            <!-- TODO: manage roles -->
            <a th:href="@{/manage/users/} + ${user.id} + '/toggle-moderator'" th:if="${user.roles.?[name == 'ROLE_MODERATOR'].isEmpty()}">Make moderator</a>
            <a th:href="@{/manage/users/} + ${user.id} + '/toggle-moderator'" th:if="${not user.roles.?[name == 'ROLE_MODERATOR'].isEmpty()}">Unmake moderator</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>