<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
</head>
<body>
    <table>
        <caption><h3>Users:</h3></caption>
        <thead>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}" />
            <td th:text="${user.username}" />
            <td>
                <a th:href="@{/manage/users/} + ${user.id}">Manage</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>