<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form th:action="@{/register}" th:object="${voter}" method="post">
    <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input is incorrect</li>
    </ul>
    <div>
        <label for="username">Username</label>
        <input id="username"
               type="text"
               th:field="*{username}"/>
    </div>
    <div>
        <label for="name">Firstname</label>
        <input id="name"
               type="text"
               th:field="*{firstName}"/>
    </div>
    <div>
        <label for="surname">Surname</label>
        <input id="surname"
               type="text"
               th:field="*{surname}"/>
    </div>
    <div>
        <label for="citizenId">Citizen id</label>
        <input id="citizenId"
               type="text"
               th:field="*{citizenId}"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password"
               type="password"
               th:field="*{password}"/>
    </div>
    <div>
        <label for="passwordRepeat">Repeat Password</label>
        <input id="passwordRepeat"
               type="password"
               th:field="*{passwordRepeat}"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email"
               type="email"
               th:field="*{email}"/>
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" th:field="*{country}">
            <option th:each="v : ${countries}"
                    th:value="${v.id}"
                    th:text="${v.name}"></option>
        </select>
    </div>
    <div>
        <label for="district">District</label>
        <select id="district" th:field="*{district}">
            <option th:each="v : ${districts}"
                    th:value="${v.id}"
                    th:text="${v.name}"></option>
        </select>
    </div>
    <div>
        <label for="ward">Ward</label>
        <select id="ward" th:field="*{ward}">
            <option th:each="v : ${wards}"
                    th:value="${v.id}"
                    th:text="${v.name}"></option>
        </select>
    </div>
    <div>
        <label for="address">Full address</label>
        <input id="address"
               type="text"
               th:field="*{address}"/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>
